header > div {
    display: flex;
    background: linear-gradient(to bottom right, #E68A09, #8F5BFE);
}

.accueil {
    font-family: "finger paint", "Arial", "sans-serif";
    margin: auto!important;
    text-align: center;
}

h1 {
    font-size: 4em!important;
}

.fa-shopping-cart {
    font-size: 2em;
    padding: 1em;
}

#mainProduct {
    width: auto;
    margin: 2em 20em;
}

a {
    color: black!important;
    text-decoration: none!important;
    display: block;
}

.more {
    width: 100px;
    margin: 2em 0;
    text-decoration: underline;
}

img {
    width: 350px;
    padding: 7px 5px 5px;
}

#products, #product {
    display: flex;
    align-items: center;
    border: solid black 1px;
    flex-direction: column;
}

.detail {
    font-size: 1.2em;
    font-family: "Arial", "sans-serif";
}

.detail > p {
    padding: 7px;
}

.img {
    width: 170px!important;
}